<div class="container">

    <div class="row">

        <div class="page-header">
            <h1>查看
                <small>我申请的发文字号</small>
            </h1>
        </div>
        <div class="row">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>文件类型</th>
                        <th>发文字号</th>
                        <th>标题</th>
                        <th>申请时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>通知</td>
                        <td>中政办发112号</td>
                        <td>文件标题文件标文件标文件标文件标文件标文件标题题题题题题</td>
                        <td>2017-10-24 10:23</td>
                        <td>
                            <a href="#">申请修改</a>&nbsp;|&nbsp;<a href="#">申请作废</a>
                        </td>
                    </tr>
                    <tr>
                        <td>通知</td>
                        <td>中政办发112号</td>
                        <td>文件标题文件标文件标文件标文件标文件标文件标题题题题题题</td>
                        <td>2017-10-24 10:23</td>
                        <td>
                            <a href="#">申请修改</a>&nbsp;|&nbsp;<a href="#">申请作废</a>
                        </td>
                    </tr>
                    <tr>
                        <td>通知</td>
                        <td>中政办发112号</td>
                        <td>文件标题文件标文件标文件标文件标文件标文件标题题题题题题</td>
                        <td>2017-10-24 10:23</td>
                        <td>
                            <a href="#">申请修改</a>&nbsp;|&nbsp;<a href="#">申请作废</a>
                        </td>
                    </tr>
                    <tr>
                        <td>通知</td>
                        <td>中政办发112号</td>
                        <td>文件标题文件标文件标文件标文件标文件标文件标题题题题题题</td>
                        <td>2017-10-24 10:23</td>
                        <td>
                            <a href="#">申请修改</a>&nbsp;|&nbsp;<a href="#">申请作废</a>
                        </td>
                    </tr>
                    <tr>
                        <td>通知</td>
                        <td>中政办发112号</td>
                        <td>文件标题文件标文件标文件标文件标文件标文件标题题题题题题</td>
                        <td>2017-10-24 10:23</td>
                        <td>
                            <a href="#">申请修改</a>&nbsp;|&nbsp;<a href="#">申请作废</a>
                        </td>
                    </tr>
                    <tr>
                        <td>通知</td>
                        <td>中政办发112号</td>
                        <td>文件标题文件标文件标文件标文件标文件标文件标题题题题题题</td>
                        <td>2017-10-24 10:23</td>
                        <td>
                            <a href="#">申请修改</a>&nbsp;|&nbsp;<a href="#">申请作废</a>
                        </td>
                    </tr>
                    <tr>
                        <td>通知</td>
                        <td>中政办发112号</td>
                        <td>文件标题文件标文件标文件标文件标文件标文件标题题题题题题</td>
                        <td>2017-10-24 10:23</td>
                        <td>
                            <a href="#">申请修改</a>&nbsp;|&nbsp;<a href="#">申请作废</a>
                        </td>
                    </tr>
                    <tr>
                        <td>通知</td>
                        <td>中政办发112号</td>
                        <td>文件标题文件标文件标文件标文件标文件标文件标题题题题题题</td>
                        <td>2017-10-24 10:23</td>
                        <td>
                            <a href="#">申请修改</a>&nbsp;|&nbsp;<a href="#">申请作废</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>